#cloud-config

users:
  - name: mike
    groups: [wheel]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - <ssh-ed25519 key>

disable_root: true
ssh_pwauth: false

package_update: true
package_upgrade: true
packages:
  - nftables
  - nano
  - curl
  - epel-release

write_files:
  - path: /etc/ssh/sshd_config.d/99-ssh-hardening.conf
    owner: root:root
    permissions: '0600'
    content: |
      Port 22

      PermitRootLogin no
      PasswordAuthentication no
      KbdInteractiveAuthentication no
      PubkeyAuthentication yes

      AllowUsers mike
      AllowTcpForwarding yes
      AllowAgentForwarding no
      X11Forwarding no

      LoginGraceTime 60
      ClientAliveInterval 300
      ClientAliveCountMax 3

      AuthorizedKeysFile .ssh/authorized_keys

  - path: /etc/fail2ban/jail.local
    owner: root:root
    permissions: '0644'
    content: |
      [DEFAULT]
      bantime           = 1h
      bantime.increment = true
      bantime.factor    = 4
      bantime.max       = 15552000   # 6 months

      findtime = 10m
      maxretry = 5
      backend  = systemd

      ignoreip = 127.0.0.0/8 ::1

      banaction          = nftables-multiport
      banaction_allports = nftables-allports
      chain              = input

      [sshd]
      banaction = nftables[type=multiport]
      enabled = true
      port    = ssh

  - path: /etc/systemd/system/fail2ban.service.d/override.conf
    owner: root:root
    permissions: '0644'
    content: |
      [Unit]
      After=nftables.service
      Wants=nftables.service
      PartOf=nftables.service

  - path: /etc/nftables/main.nft
    owner: root:root
    permissions: '0600'
    content: |
      flush ruleset

      table inet filter {
        chain input {
          type filter hook input priority 0;
          policy drop;

          ct state invalid drop
          ct state { established, related } accept
          
          iif "lo" accept

          tcp dport 22 accept
          udp dport 51820 accept

          ip  protocol icmp   accept
          ip6 nexthdr  icmpv6 accept
        }

        chain forward {
          type filter hook forward priority 0;
          policy drop;
        }

        chain output {
          type filter hook output priority 0;
          policy accept;
        }
      }

  - path: /etc/sysconfig/nftables.conf
    owner: root:root
    permissions: '0600'
    content: |
      include "/etc/nftables/main.nft"

runcmd:
  - dnf install -y fail2ban
  - systemctl mask --now firewalld
  - systemctl daemon-reload

  - systemctl enable --now nftables
  - systemctl enable --now fail2ban

  - systemctl reload sshd